# Character Prediction 

## Initial Preprocessing

In [1]:
# Package Imports
import pandas as pd
from sklearn.model_selection import train_test_split as TTS

In [2]:
# File Import
df = pd.read_csv("lotr_scripts.csv")
df.head()

,Unnamed: 0,char,dialog,movie
0,0,DEAGOL,"Oh Smeagol Ive got one! , Ive got a fish Smeag...",The Return of the King
1,1,SMEAGOL,"Pull it in! Go on, go on, go on, pull it in!",The Return of the King
2,2,DEAGOL,Arrghh!,The Return of the King
3,3,SMEAGOL,Deagol!,The Return of the King
4,4,SMEAGOL,Deagol!,The Return of the King

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2390 entries, 0 to 2389
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2390 non-null   int64
 1   char        2390 non-null   object
 2   dialog      2389 non-null   object
 3   movie       2390 non-null   object
dtypes: int64(1), object(3)
memory usage: 74.8+ KB

In [4]:
# Checking inconcistencies with naming
df.char.unique()

array(['DEAGOL', 'SMEAGOL', '(GOLLUM', 'FRODO', 'MERRY', 'GIMLI',
       'GOLLUM', 'SAM', 'GANDALF', 'ARAGORN', 'PIPPIN', 'HOBBIT', 'ROSIE',
       'BILBO', 'TREEBEARD', 'SARUMAN', 'THEODEN', 'GALADRIL', 'ELROND',
       'GRIMA', 'FRODO VOICE OVER', 'WITCH KING', 'EOWYN', 'FARAMIR',
       'ORC', '\xa0GANDALF', 'SOLDIERS ON GATE', 'GOTHMOG', 'GENERAL',
       'CAPTAIN', 'SOLDIER', 'MOUTH OF SAURON', 'EOMER', 'ARMY', 'BOSON',
       'MERCENARY', 'EOWYN/MERRY', 'DENETHOR', 'ROHIRRIM',
       'GALADRIEL VOICEOVER', 'LEGOLAS', 'GALADRIEL', 'KING OF THE DEAD',
       'GRIMBOLD', 'IROLAS', 'ORCS', 'GAMLING', 'MADRIL', 'DAMROD',
       'SOLDIERS', 'SOLDIERS IN MINAS TIRITH', 'GANDALF VOICEOVER',
       'SOLDIER 1', 'SOLDIER 2', 'WOMAN', 'HALDIR', 'SAM VOICEOVER',
       'OLD MAN', 'BOROMIR', 'CROWD', 'ARWEN', 'ELROND VOICEOVER',
       'ARWEN VOICEOVER', 'ARAGORN ', 'HAMA', 'SHARKU', 'PEOPLE', 'LADY',
       'FREDA', 'MORWEN', 'EYE OF SAURON', 'ROHAN STABLEMAN', 'GORBAG',
       'ARGORN', 'GANDALF VOICE OVER', 'BOROMIR ', 'UGLUK', 'SHAGRAT',
       'SARUMAN VOICE OVER', 'SARUMAN VOICE OVER ', 'FRODO ', 'URUK-HAI',
       'SNAGA', 'GRISHNAKH', 'MERRY and PIPPIN', 'WILDMAN', 'STRIDER',
       'GALADRIEL VOICE-OVER', 'EOTHAIN', 'ROHAN HORSEMAN',
       'SAURON VOICE', 'SAM ', 'FRODO VOICE', 'GALADRIEL VOICE OVER',
       'FARMER MAGGOT', 'WHITE WIZARD', 'MERRY AND PIPPIN', 'GAFFER',
       'NOAKES', 'SANDYMAN', 'FIGWIT', 'GENERAL SHOUT', 'GRISHNAK',
       'URUK HAI', 'SARUMAN VOICEOVER', 'MRS BRACEGIRDLE',
       'BILBO VOICEOVER', 'PROUDFOOT HOBBIT', 'GATEKEEPER', 'GATEKEEPR',
       'MAN', 'CHILDREN HOBBITS', 'BARLIMAN', 'RING', 'MEN', 'VOICE',
       'SAURON', 'GAN DALF'], dtype=object)

In [5]:
# Overwriting name inconcistencies in file
flaws = list(["SMEAGOL", "(GOLLUM", "GALADRIL", "FRODO VOICE OVER", "\xa0GANDALF", "MOUTH OF SAURON", "GALADRIEL VOICEOVER", 
              "GANDALF VOICEOVER", "SAM VOICEOVER", "ELROND VOICEOVER", "ARWEN VOICEOVER", "ARAGORN ", "ARGORN", "GANDALF VOICE OVER", 
              "SARUMAN VOICE OVER", "SARUMAN VOICE OVER ", "URUK-HAI" "FRODO ", "GALADRIEL VOICE-OVER", "SAURON VOICE", "SAM ", 
              "FRODO VOICE", "GALADRIEL VOICE OVER", "SARUMAN VOICEOVER", "BILBO VOICEOVER", "GATEKEEPR", "GAN DALF"])

correct = list(["GOLLUM", "GOLLUM", "GALADRIEL", "FRODO", "GANDALF","SAURON", "GALADRIEL", "GANDALF", "SAM", "ELROND", "ARWEN", "ARAGORN", 
                "ARAGORN", "GANDALF", "SARUMAN", "SARUMAN", "URUK HAI", "FRODO", "GALADRIEL", "SAURON", "SAM", "FRODO", "GALADRIEL", 
                "SARUMAN", "BILBO", "GATEKEEPER", "GANDALF"])

for i in range(len(flaws)):
    df.loc[df["char"] == flaws[i], "char"] = correct[i]
df.char.unique()

array(['DEAGOL', 'GOLLUM', 'FRODO', 'MERRY', 'GIMLI', 'SAM', 'GANDALF',
       'ARAGORN', 'PIPPIN', 'HOBBIT', 'ROSIE', 'BILBO', 'TREEBEARD',
       'SARUMAN', 'THEODEN', 'GALADRIEL', 'ELROND', 'GRIMA', 'WITCH KING',
       'EOWYN', 'FARAMIR', 'ORC', 'SOLDIERS ON GATE', 'GOTHMOG',
       'GENERAL', 'CAPTAIN', 'SOLDIER', 'SAURON', 'EOMER', 'ARMY',
       'BOSON', 'MERCENARY', 'EOWYN/MERRY', 'DENETHOR', 'ROHIRRIM',
       'LEGOLAS', 'KING OF THE DEAD', 'GRIMBOLD', 'IROLAS', 'ORCS',
       'GAMLING', 'MADRIL', 'DAMROD', 'SOLDIERS',
       'SOLDIERS IN MINAS TIRITH', 'SOLDIER 1', 'SOLDIER 2', 'WOMAN',
       'HALDIR', 'OLD MAN', 'BOROMIR', 'CROWD', 'ARWEN', 'HAMA', 'SHARKU',
       'PEOPLE', 'LADY', 'FREDA', 'MORWEN', 'EYE OF SAURON',
       'ROHAN STABLEMAN', 'GORBAG', 'BOROMIR ', 'UGLUK', 'SHAGRAT',
       'FRODO ', 'URUK-HAI', 'SNAGA', 'GRISHNAKH', 'MERRY and PIPPIN',
       'WILDMAN', 'STRIDER', 'EOTHAIN', 'ROHAN HORSEMAN', 'FARMER MAGGOT',
       'WHITE WIZARD', 'MERRY AND PIPPIN', 'GAFFER', 'NOAKES', 'SANDYMAN',
       'FIGWIT', 'GENERAL SHOUT', 'GRISHNAK', 'URUK HAI',
       'MRS BRACEGIRDLE', 'PROUDFOOT HOBBIT', 'GATEKEEPER', 'MAN',
       'CHILDREN HOBBITS', 'BARLIMAN', 'RING', 'MEN', 'VOICE'],
      dtype=object)

In [6]:
# Dropping na rows and unnessecary columns
df = df.dropna(axis=0)
df = df.drop(["Unnamed: 0", "movie"], axis=1)
df.head()

     char                                             dialog
0  DEAGOL  Oh Smeagol Ive got one! , Ive got a fish Smeag...
1  GOLLUM     Pull it in! Go on, go on, go on, pull it in!
2  DEAGOL                                           Arrghh!
3  GOLLUM                                          Deagol!
4  GOLLUM                                          Deagol!

In [7]:
# Splitting dataset
train_df, test_df = TTS(df, test_size=0.3, random_state=42)
val_df, test_df = TTS(test_df, test_size=0.5, random_state=42)
train_df.reset_index(drop=True, inplace=True)
val_df.reset_index(drop=True, inplace=True)
test_df.reset_index(drop=True, inplace=True)

In [8]:
train_df.to_csv('train_df.csv', index=False)
val_df.to_csv('val_df.csv', index=False)
test_df.to_csv('test_df.csv', index=False)